<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="profile">
        <p class="profile-info">
          <h2><%= user.local.name %></h5>
          <h4><%= user.local.email %></h5>
          <h4 id="usercar"><%= user.car %></h5>
        </p>
        <!-- <hr class="spaced"> -->
        </div>
        <div class="">
        <a href="/user/<%= user._id %>" class="btn waves-effect waves-light">Edit Account</a>
        <a href="/user/<%= user._id %>/delete" id="delete-account" class="btn waves-effect waves-light">Delete Your Account</a>
        </div>

    </div>
    <div class="col s6">
      <h4>Choose your vehicle:</h4>

      <form id="new-search" action="/" method="post">
        <div class="row">
          <div class="input-field">

            <input type="text" id="make" name="content" placeholder="Make" required>
            <input type="text" id="model" name="content" placeholder="Model" required>
            <input type="number" id="year" name="content" placeholder="Year" required>
            <button class='btn waves-effect waves-light' type="submit" id="add-service">Find<i class="material-icons right">send</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="table-results center-align">
      <ul id="results" class="collection" style="list-style: none"></ul>
    </div>
  </div>




  <script type="text/javascript">

  var resultsList = $('#results')

  $('#add-service').on('click', function(evt){
    evt.preventDefault();
  })

  $('#delete-account').on('click', function(e){

    if (! confirm("Are you sure you want to permanently delete your account?!")) {
      e.preventDefault()
    }
  })


  $('#add-service').on('click', function(){
    var model = $('#model').val()
    var make = $('#make').val()
    var year = $('#year').val()
    var carSearch = {}
    carSearch.model = model;
    carSearch.make = make;
    carSearch.year = Number(year);

    console.log(carSearch);
    $.ajax({
      // url: '/user/<%= user._id %>/testcar',
      url: '/findcar',
      method: 'POST',
      // contentType: 'application/json',
      json: true,
      data: carSearch
    }).done(function(data){
      resultsList.empty()
      var carObject = JSON.parse(data)
      var stylesArr = carObject.styles
      for (var i = 0; i < stylesArr.length; i ++) {
        console.log(stylesArr[i]);
        resultsList.append('<li class="collection-item"><a class="car-result">' + stylesArr[i].name + '</a></li>')

      }
      $('.car-result').on('click', function(){
        console.log($(this).text());
        console.log('/user/<%= user._id %>/testcar')
        var fullCar = make + ' ' + model + ' ' + $(this).text()
        setCar(fullCar)
      });
    })
  })

  function setCar(car) {
    $.ajax({
      method: 'PATCH',
      url: '/user/<%= user._id %>/setcar?car=' + car
    }).done(function(data) {
      console.log(data)
      $('#usercar').text(data.user.car)
      console.log(data.user);
    })
  }

  </script>
